body {
  background-color: #e6ecf0;
}

/* Nav */

.navbar {
  /* margin-bottom: 1rem; */
  min-height: 70px;
}

.navbar h1 {
  display: inline-block;
  position: relative;
  top: 5px;
  color: white;
}

.navbar a {
  font-weight: bold;
  color: #456dff;
}

.navbar a:hover {
  color: #456dff;
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        top: 0;
        display: block;
        /* width: 160px; */
        text-align: center;
        /* background-color: #eee; */
    }
    .navbar>.container .navbar-brand-centered,
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
}
ul.nav.navbar-nav li {
  margin: 0 0.5rem;
}

.onboarding > .navbar {
  /* background-image: url("./images/nav-bg.png"); */
  background-color: #2e2e2e;
  color: #c9c9c9;
  background-size: 100%;
}

.innerContainer {
  margin: 20px 0;
}

.home-hero {
  width: 100vw;
  height: 100vh;
  /* position: absolute;
  top: 0;
  left: 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("./images/signed-out-home.jpg");
  z-index: -1;
  text-align: center;
  padding: 1rem;
  background-position: center center;
  background-size: cover;
  color: white;
  text-shadow: 0 0 8px #66757f;
  margin-top: -20px;
  margin-bottom: -20px;
}
#messages {
  width: 90%;
  margin: 0 auto;
}
#messages .list-group-item {
  display: flex;
  align-items: flex-start;
  padding: 7px 20px 12px;
  transition: 250ms background-color;
}

#messages .reply-item {
  width: 95%;
  align-self: flex-end;
}

#messages .reply {
  background-color: #e6ecf0;
  width: 90%;
  align-self: flex-end;
}
#messages .reply i.fa-reply {
  color: black;
  margin-right: 10px;
  transform: rotate(180deg);
}
#messages .reply i.fa-times {
  color: black;
  margin-left: 10px;
  cursor: pointer;
}
#messages .reply form {
  width: 100%;
}
#messages .reply form input {
  width: 77%;
}
#messages .reply .form-control {
  display: inline;
}

#messages:not(.no-hover) .list-group-item:hover {
  background-color: #e6ecf0;
}

.timeline-image {
  border-radius: 50px;
  width: 48px;
  height: 48px;
  margin: 2px 30px 10px 10px;
}

.btn:hover {
  cursor: pointer;
}

a.btn.btn-danger,a.btn.btn-success,
a.btn.btn-danger:hover, a.btn.btn-success:hover {
  color: white;
}

.navbar-header {
margin: 0 auto;
}

.messageRefresh {
  background-color: #4f4f4f;
  color: #e0e0e0;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 10px 0;
}

#userAsideImg {
  border-radius: 50%;
}
aside {
  /* min-width: 250px; */
  text-align: center;
}
aside h2:before {
  content: "@";
  font-size: 1.1rem;
}

.addMsgFormContainer {
  width: 80%;
  margin: 0 auto;
}
.addMsgFormContainer label {
  font-weight: bold;
}
#hashtags {
  text-align: left;
  border: 0px solid blue;
}
#hashtags hr {
  margin: 4px auto 4px 0;
  padding: 0;
  border: 0px solid #c9c9c9;
  height: 1px;
  background-color: #595959;
  border-collapse: collapse;
  width: 80%;
}
#footer {
  /* margin-top: 10px; */
  background-color: #2e2e2e;
  color: #c9c9c9;
  padding: 10px;
  font-size: 0.85rem;
  clear: both;
}
#footer ul {
  list-style: none;
  margin: 0;
  padding: 5px;
}
#footer a {
  color: #c9c9c9;
}
#footer ul li {
  margin: 0;
  padding: 0;
  display: block;
  min-width: 40%;
  border: 0px solid white;
  float: left;
}
#footer strong {
  color: #456dff;
  font-size: 1.2rem;
  display: block;
}
#footer hr {
  margin: 4px auto;
  padding: 0;
  border: 0px solid #c9c9c9;
  height: 1px;
  background-color: #595959;
  border-collapse: collapse;
  width: 80%;
}
#footer .topWarble {
  border: 0px solid white;
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  line-height: 1rem;
}
#footer .topWarble a {
  font-weight: bold;
  color: #a3a3a3;
}
#footer .topWarble div {
  height: 100%;
  align-self: center;
}
#footer .topWarble img {
  width: 40px;
  height: 40px;
  margin: 3px 10px 3px 3px;
}
#footer .contactIcon {
  font-size: 5rem;
  margin-right: 10px;
  display: block;
  color: white;
}
#footer .contactRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
#footerBase {
  background-color: #4f4f4f;
  color: #e0e0e0;
  padding: 10px;
  font-size: 0.85rem;
}
